@import "../variables.scss";

.filter-panel-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: $medium-font-size;
    font-style: $primary-font-normal-style;
    font-weight: $medium-font-weight;
    line-height: normal;
    border-top: 1px solid #A2A2A2;
    box-sizing: border-box;
    padding: 9px 16px;

    .filter-panel-item-name {
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            margin-left: auto;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        max-height: 240px;

        div.item {
            label {
                height: 50px;
                box-sizing: border-box;
                display: flex;
                column-gap: 13px;
                align-items: center;
                cursor: pointer;

                p {
                    margin: 0;
                }
            }
        }

        &::-webkit-scrollbar {

            width: 13px;

        }

        &::-webkit-scrollbar-thumb {

            border: 3px solid rgba(0, 0, 0, 0);
            background-clip: padding-box;
            border-radius: 30px;
            background-color: $primary-style-color;
        }
    }
}