//Fonts
$primary-font-family: "Roboto", sans-serif;

//colors
$primary-font-color: #ffffff;
$secondary-font-color: #808080;
$error-font-color: ffffff;
$primary-button-color: #00c2c1;
$link-color: #00a7db;
$border-color: rgba(0, 0, 0, 0.7);
$register-button-border-color: rgba(0, 0, 0, 0.25);
$error-border-color: #eb0000;
$back-button-background: rgba(255, 255, 255, 0.24);
$register-button-background: #b9b9b9;
 

//font-size
$extra-small-font-size: 12px;
$pre-small-font-size: 14px;
$small-font-size: 16px;
$medium-font-size: 18px;
$normal-font-size: 20px;
$large-font-size: 24px;
$big-font-size: 34px;

//font-weight
$light-font-weight: 300;
$medium-font-weight: 400;
$normal-font-weight: 500;
$bold-font-weight: 700;
