@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);
@import url(https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:wght@100..900&display=swap);

//Fonts
$primary-font-family: "Roboto", sans-serif;
$baloo-font-family: "Baloo 2", sans-serif;

//colors
$default-color: #000;
$primary-font-color: #ffffff;
$secondary-font-color: #808080;
$error-font-color: rgba(255, 255, 255, 0.7);
$primary-style-color: #00c2c1;
$link-color: #00a7db;
$border-color: rgba(0, 0, 0, 0.7);
$menu-border-color: #6c6c6c;
$register-button-border-color: rgba(0, 0, 0, 0.25);
$error-border-color: #eb0000;
$back-button-background: rgba(255, 255, 255, 0.24);
$register-button-background: #b9b9b9;
$background-color: #019392;
$eco-block-color: #00dfc4;
$menu-background: #ececec;
$header-menu-background: #23a1a0;
$dashboard-text-color: #6b6b6b;
$dashboard-title-color: #5d5d5d;

//font-size
$extra-small-font-size: 12px;
$pre-small-font-size: 14px;
$small-font-size: 16px;
$medium-font-size: 18px;
$normal-font-size: 20px;
$average-font-size: 22px;
$large-font-size: 24px;
$extra-large-font-size: 30px;
$big-font-size: 34px;
$primary-font-big-size: 40px;

//font-weight
$light-font-weight: 300;
$medium-font-weight: 400;
$normal-font-weight: 500;
$big-font-weight: 600;
$bold-font-weight: 700;
$fat-font-weight: 900;

//font-style
$primary-font-normal-style: normal;

//padding
$default-padding: 26px 180px;

//border-radius

$border-radius-eco-block-big: 20px 20px 20px 0px;
$border-radius-eco-block-medium: 15px 15px 15px 0px;
$border-radius-eco-block-medium-2: 15px 5px 15px 0px;
$border-radius-eco-block-small: 10px 10px 10px 0px;