//Fonts
$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Inter", sans-serif;

//colors
$primary-font-color: #ffffff;
$secondary-font-color: #808080;
$error-font-color: rgb(166, 9, 9);
$primary-button-color: #00c2c1;
$link-color: #00a7db;
$border-color: rgba(0, 0, 0, 0.7);

//font-size
$secondary-font-small-size: 16px;
$secondary-font-medium-size: 20px;

$primary-font-small-size: 18px;
$primary-font-medium-size: 20px;
$primary-font-normal-size: 34px;

//font-weight
$primary-font-bold-weight: 700;
$primary-font-medium-weight: 500;
$primary-font-normal-weight: 400;
$primary-font-light-weight: 300;

$secondary-font-weight: 400;