@import '../variables.scss';

#chat-room {
    width: 100%;
    height: 100%;
    //height: 80vh;
    //max-height: 80vh;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #6C6C6C;
    position: relative;
    box-sizing: border-box;

    .chat-room-header {
        width: 100%;
        //height: 30%;
        //flex-basis: 20%;
        display: flex;
        flex-direction: column;
        font-style: $primary-font-normal-style;
        line-height: normal;

        .post {
            width: 100%;
            display: flex;
            column-gap: 28px;
            padding: 12px 35px;
            box-sizing: border-box;
            border-bottom: 1px solid #6C6C6C;

            img {
                width: 100px;
                height: 40px;
            }

            p {
                font-weight: $normal-font-weight;
            }
        }

        .realtor {
            width: 100%;
            display: flex;
            column-gap: 28px;
            padding: 22px 35px;
            box-sizing: border-box;
            border-bottom: 1px solid #6C6C6C;

            img {
                width: 60px;
                height: 60px;
                border-radius: 60px;
            }

            p {
                font-size: $small-font-size;
                font-weight: $bold-font-weight;
            }

            button {
                width: 50px;
                height: 50px;
                margin-left: auto;
                border: none;
                outline-color: $primary-style-color;
                background-color: $primary-font-color;
                cursor: pointer;

                &:hover {
                    background-color: #f3eeee;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .chat-room-messages {
        //flex-basis: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        box-sizing: border-box;
        padding: 30px 25px;

        .messages {
            height: 70%;
            //height: 200px;
            //flex-basis: 80%;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            overflow-y: auto;
            padding-right: 5px;

            &::-webkit-scrollbar {
                margin-left: 10px;
                width: 13px;
            }

            &::-webkit-scrollbar-thumb {
                border: 3px solid rgba(0, 0, 0, 0);
                background-clip: padding-box;
                border-radius: 30px;
                background-color: $primary-style-color;
            }
        }

        .send-message {

            height: 20%;

            margin-top: auto;
        }


    }

    .choose-chat {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
            font-style: $primary-font-normal-style;
            line-height: normal;
            font-size: $extra-large-font-size;
            font-weight: $bold-font-weight;
        }

    }
}