@import "../variables.scss";

.authButton {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 10px 15px;
    border-radius: 5px;
    background: $primary-style-color;
    color: $primary-font-color;
    font-size: $medium-font-size;
    font-style: normal;
    font-weight: $normal-font-weight;
    line-height: normal;
}

.content {
    height: 100vh;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../assets/Background/unsplash_d7M5Xramf8g.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .authHeader {
        display: flex;
        justify-content: start;
        align-items: center;
        align-self: stretch;
        margin-top: 10px;
        margin-left: 10%;

        #authHeaderLogo {
            width: 226px;
            height: 80px;
            flex-shrink: 0;

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.loginMaimContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
    width: 563px;
    gap: 51px;
    padding: 0;
    color: $primary-font-color;
    text-align: center;
}

.regiterMaimContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15%;
    width: 563px;
    gap: 51px;
    padding: 0;
    color: $primary-font-color;
    text-align: center;
}

.resetPasswordMainContainer {
    display: flex;
    width: 563px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    color: $primary-font-color;
    margin-bottom: 20%;

    #topContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
        align-self: stretch;

        #instructionText {
            align-self: stretch;
            text-align: center;
            font-size: $normal-font-size;
            font-style: normal;
            font-weight: $medium-font-weight;
            line-height: normal;
        }
    }
}

.enterNewPasswordMaimContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25%;
    width: 563px;
    gap: 51px;
    padding: 0;
    color: $primary-font-color;
    text-align: center;
}

.instructionPageContainer {
    display: flex;
    width: 849px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: $primary-font-color;
    margin-bottom: 20%;

    #instructionTextContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 44px;
        align-self: stretch;

        #topContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;
            align-self: stretch;

            #afterTitleText {
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            ol {
                font-size: 20px;
                font-style: normal;
                font-weight: 100;
                line-height: normal;

                li {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

#authCenterContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 498px;
    text-align: center;
}

h1 {
    font-size: $big-font-size;
    font-weight: $bold-font-weight;
    font-style: normal;
    line-height: normal;
    margin: 0;
}

.authFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;

    .authForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        align-self: stretch;
        padding: 0;

        .authFormBottom {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
        }
    }
}

.authFields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
}

.formInput {
    display: flex;
    height: 50px;
    padding-left: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid $border-color;
    background: #fff;
    color: $secondary-font-color;
    font-size: $medium-font-size;
    font-style: normal;
    font-weight: $light-font-weight;
    line-height: normal;
}

.errorFormInput {
    display: flex;
    height: 50px;
    padding-left: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid $error-border-color;
    background: #fff;

    p {
        color: $secondary-font-color;
        font-size: $medium-font-size;
        font-style: normal;
        font-weight: $light-font-weight;
        line-height: normal;
    }
}

#secondaryAuthText {
    display: flex;
    width: 485px;
    justify-content: space-between;
    align-items: flex-start;
}

#secondaryRegisterText {
    display: flex;
    width: 485px;
    justify-content: center;
    align-items: center;
}

.linkConfirmation {
    color: $primary-font-color;
    font-size: $small-font-size;
    font-style: normal;
    font-weight: $medium-font-weight;
    line-height: normal;
    text-decoration: none;
}

.error {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    color: $error-font-color;
    font-size: $small-font-size;
    font-style: normal;
    font-weight: $medium-font-weight;
    line-height: normal;
    padding: 0;
    margin: 0;

    p {
        padding: 0;
        margin: 0;
        color: $error-border-color;
    }
}

#googleLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    p {
        text-align: center;
        font-size: $normal-font-size;
        font-style: normal;
        font-weight: $medium-font-weight;
        line-height: normal;
    }
}

#authFoter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;

    p {
        color: $primary-font-color;
        text-align: center;
        font-size: $extra-small-font-size;
        font-style: normal;
        font-weight: $medium-font-weight;
        line-height: normal;
        margin: 0;

        a {
            color: $link-color;
            text-decoration: none;
        }
    }
}

.addAavatarContainer {
    display: flex;
    width: 460px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    margin-bottom: 20%;

    #avatarContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 34px;
        align-self: stretch;

        #uploadAvatarText {
            color: $primary-font-color;
            text-align: center;
            font-size: $normal-font-size;
            font-style: normal;
            font-weight: $medium-font-weight;
            line-height: normal;
        }
    }

    #avatarUpload {
        display: flex;
        width: 220px;
        flex-direction: column;
        align-items: center;
        gap: 14px;

        #uploadAvatarButton {
            color: $primary-font-color;
            text-align: center;
            font-size: $pre-small-font-size;
            font-style: normal;
            font-weight: $light-font-weight;
            line-height: normal;
            text-decoration-line: underline;
        }
    }
}

.endRegisterArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

.backArrow {
    display: flex;
    width: 60px;
    height: 60px;
    padding-left: 10px;
    align-items: center;
    border-radius: 5px;
    border: 1.5px solid $primary-font-color;
    background: $back-button-background;

    &:hover {
        background-color: $primary-style-color;
    }

    #arrow {
        display: flex;
        align-self: center;
    }
}

.endRegisterButton {
    display: flex;
    width: 365px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: $register-button-background;
    box-shadow: 0px 4px 4px 0px $register-button-border-color;
    color: $primary-font-color;
    font-size: $large-font-size;
    font-style: normal;
    font-weight: $normal-font-weight;
    line-height: normal;

    &.active {
        background: $primary-style-color;
    }
}

.registerInformationContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30%;

    #messageContainer {
        display: flex;
        padding: 24px;
        align-items: center;
        gap: 22px;
        border-radius: 5px;
        border: 1px solid $primary-font-color;

        #point {
            width: 30px;
            height: 30px;
            flex-shrink: 0;
        }

        #message {
            color: $primary-font-color;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .buttonContainer {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
