//Fonts
$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Inter", sans-serif;

//colors
$primary-font-color: #ffffff;
$secondary-font-color: #808080;
$error-font-color: rgb(166, 9, 9);
$primary-button-color: #00c2c1;
$link-color: #00a7db;
$border-color: rgba(0, 0, 0, 0.7);

//font-size
$secondary-font-small-size: 16px;
$secondary-font-medium-size: 20px;

$primary-font-small-size: 18px;
$primary-font-medium-size: 20px;
$primary-font-normal-size: 34px;

//font-weight
$primary-font-bold-weight: 700;
$primary-font-medium-weight: 500;
$primary-font-normal-weight: 400;
$primary-font-light-weight: 300;

$secondary-font-weight: 400;

body {
    margin: 0;
    padding: 0;

}

#root {
    margin: 0;
    padding: 0;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-image: url("../../assets/Background/unsplash_d7M5Xramf8g.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: $primary-font-family;
}

.authHeader {
    display: flex;
    justify-content: start;
    align-items: center;
    align-self: stretch;
    margin-top: 10px;
    margin-left: 10%;
}

#authHeaderLogo {
    width: 226px;
    height: 80px;
    flex-shrink: 0;

    img {
        max-width: 100%;
        height: auto;
    }
}

.authContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
    width: 563px;
    gap: 51px;
    padding: 0;
    color: $primary-font-color;
    text-align: center;
}

#loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 498px;
    text-align: center;

    h1 {
        font-size: $primary-font-normal-size;
        font-weight: $primary-font-bold-weight;
        font-style: normal;
        line-height: normal;
        margin: 0;
    }
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

#loginFormTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    padding: 0;
}

.loginFields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
}

.loginFormInput {
    display: flex;
    height: 50px;
    padding-left: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid $border-color;
    background: #fff;

    p {
        color: $secondary-font-color;
        font-family: $primary-font-family;
        font-size: $primary-font-small-size;
        font-style: normal;
        font-weight: $primary-font-light-weight;
        line-height: normal;
    }
}

#loginFormBottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.authButton {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 5px;
    background: $primary-button-color;
    color: $primary-font-color;
    font-family: $primary-font-family;
    font-size: $primary-font-small-size;
    font-style: normal;
    font-weight: $primary-font-medium-weight;
    line-height: normal;
}

#secondaryConfirmation {
    display: flex;
    width: 485px;
    justify-content: space-between;
    align-items: flex-start;
}

.linkConfirmation {
    color: $primary-font-color;
    font-family: $secondary-font-family;
    font-size: $secondary-font-small-size;
    font-style: normal;
    font-weight: $secondary-font-weight;
    line-height: normal;
}

.error {
    color: $error-font-color;
}

#googleLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    p {
        text-align: center;
        font-family: $primary-font-family;
        font-size: $primary-font-medium-size;
        font-style: normal;
        font-weight: $primary-font-normal-weight;
        line-height: normal;
    }
}

#authFoter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;

    p {
        color: $primary-font-color;
        text-align: center;
        font-family: $secondary-font-family;
        font-size: $primary-font-small-size;
        font-style: normal;
        font-weight: $secondary-font-weight;
        line-height: normal;
        margin: 0;

        a {
            color: $link-color;
        }
    }
}
