@import '../variables.scss';

#chat-room-is-deleted {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
    position: relative;
    padding: 10px;
    box-sizing: border-box;

    .text {
        font-size: $normal-font-size;
        font-style: $primary-font-normal-style;
        font-weight: $normal-font-weight;
    }
}