@import '../variables.scss';

@mixin message {
    width: auto;
    max-width: 340px;
    height: auto;
    display: flex;
    column-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    background: #00C2C1;
    color: $primary-font-color;
    font-size: $small-font-size;
    font-style: $primary-font-normal-style;
    font-weight: $medium-font-weight;



}

@mixin messageIsRead {
    .message-is-read {
        width: 15px;
        height: auto;
        position: relative;
        margin-left: auto;

        img {
            width: 12px;
            height: 12px;
            position: absolute;
            bottom: 0px;

            &:first-of-type {
                left: 0px;
                bottom: -5px;
            }

            &:last-of-type {
                left: 5px;
                bottom: -5px;
            }
        }

    }


}

@mixin messageText {
    .message-text {
        width: auto;
        height: auto;
    }
}

#rightMessage {
    @include message();
    align-self: flex-end;
    border-radius: 10px 10px 0px 10px;
    @include messageText();
    @include messageIsRead();
}

#leftMessage {
    @include message();
    align-self: flex-start;
    border-radius: 10px 10px 10px 0px;
    @include messageText();
}