@import "css/variables.scss";

body {
    margin: 0;
    padding: 0;
    font-family: $primary-font-family;
}

#root {
    margin: 0;
    padding: 0;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;

    @media (max-width:1920px) {
        height: 3524px;
    }

    @media (max-width:1814px) {
        height: 3924px;
    }
}

/*#root {
    width: 100vw;
    height: 3924px;
    margin: 0;
    padding: 0;

}*/