@import "../variables.scss";

.dashboardMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.dashboardHeaderContainer {
    background: $primary-style-color;
    min-width: 1150px;
    height: 8%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    #headerMainPart {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #logo {
            width: 226px;
            min-height: 80px;
            flex-shrink: 0;
        }

        #userInfo {
            display: flex;
            align-items: center;
            gap: 11px;

            #avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                align-self: stretch;
            }

            #name {
                color: #fff;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}

.breadcrumbs {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
    font-size: $medium-font-size;
    font-style: normal;
    line-height: normal;
    height: 5%;
    min-height: 30px;
    gap: 5px;

    a {
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: #5d5d5d;
        font-weight: $medium-font-weight;
    }

    p {
        margin: 0;
        padding: 0;
        color: #000;
        font-weight: $normal-font-weight;
    }
}

.mainContainer {
    display: flex;
    width: 80%;
    gap: 20px;
    height: 100%;

    // .sideMenu {
    //     width: 5%;
    //     min-width: 65px;
    //     flex-shrink: 0;
    //     border-radius: 10px;
    //     border: 1px solid $menu-border-color;
    //     background: $menu-background;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     gap: 30px;

    //     #items {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-between;

    //         .menuItem {
    //             height: 72px;
    //             flex-shrink: 0;
    //             border-radius: 9px 9px 9px 9px;
    //             display: flex;
    //             align-items: center;

    //             .text {
    //                 display: flex;
    //                 width: 233px;
    //                 align-items: flex-start;
    //                 gap: 15px;
    //                 margin-left: 24px;

    //                 p {
    //                     margin: 0;
    //                     padding: 0;
    //                     font-size: 20px;
    //                     font-style: normal;
    //                     font-weight: 400;
    //                     line-height: normal;
    //                     align-self: flex-end;
    //                 }
    //             }

    //             &.active,
    //             &:hover {
    //                 background-color: $header-menu-background;
    //                 color: $primary-font-color;
    //             }
    //         }
    //     }

    // }

    // .sideMenu {
    //     width: 4%;
    //     min-width: 65px;
    //     flex-shrink: 0;
    //     border-radius: 10px;
    //     border: 1px solid $menu-border-color;
    //     background: $menu-background;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     gap: 30px;
    //     transition: width 0.3s;

    //     #items {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-between;

    //         .menuItem {
    //             height: 72px;
    //             flex-shrink: 0;
    //             border-radius: 9px;
    //             display: flex;
    //             align-items: center;
    //            // padding-left: 10px;

    //             .text {
    //                 display: flex;
    //                 align-items: center;
    //                 gap: 15px;
    //                 margin-left: 24px;
    //                 transition: opacity 0.3s;

    //                 .menuItemsText {
    //                     margin: 0;
    //                     padding: 0;
    //                     font-size: 20px;
    //                     font-style: normal;
    //                     font-weight: 400;
    //                     line-height: normal;
    //                     align-self: center;
    //                     opacity: 0;
    //                 }
    //             }

    //             &.active,
    //             &:hover {
    //                 background-color: $header-menu-background;
    //                 color: $primary-font-color;
    //             }
    //         }
    //     }

    //     #footer {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-around;
    //         height: 60px;
    //         margin: 0;
    //         padding: 0;

    //         #line {
    //             height: 1px;
    //             background-color: $menu-border-color;
    //         }

    //         #button {
    //             display: flex;
    //             align-items: center;
    //             gap: 20px;
    //             margin-left: 20px;
    //             color: $default-color;

    //             p {
    //                 margin: 0;
    //                 padding: 0;
    //                 align-self: center;
    //                 opacity: 0;
    //             }
    //         }

    //         &:hover #button p {
    //             opacity: 1;
    //         }
    //     }

    //     &.expanded {
    //         width: 250px;
    //         opacity: 1;

    //     }

    //     &:hover {
    //         width: 250px;
    //         opacity: 1;

    //     }
    // }

    .sideMenu {
        width: 4%;
        min-width: 65px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 1px solid $menu-border-color;
        background: $menu-background;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        transition: width 0.3s;

        #items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .menuItem {
                height: 72px;
                flex-shrink: 0;
                border-radius: 9px;
                display: flex;
                align-items: center;

                .text {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-left: 24px;
                    transition: opacity 0.3s;

                    .menuItemsText {
                        margin: 0;
                        padding: 0;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        align-self: center;
                        opacity: 0;
                        transition: opacity 0.3s;
                    }
                }

                .outIcon {
                    align-self: center;
                    margin-left: auto;
                    margin-right: 5px;
                    // background-color: #781010;
                }

                &.active,
                &:hover {
                    background-color: $header-menu-background;
                    color: $primary-font-color;

                    .menuItemsText {
                        opacity: 1;
                    }
                }
            }
        }

        #footer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 60px;
            margin: 0;
            padding: 0;

            #line {
                height: 1px;
                background-color: $menu-border-color;
            }

            #button {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-left: 20px;
                color: $default-color;

                p {
                    margin: 0;
                    padding: 0;
                    align-self: center;
                    opacity: 0;
                    transition: opacity 0.3s;
                }
            }

            &:hover #button p {
                opacity: 1;
                font-weight: 900;
            }
        }

        &.expanded {
            width: 250px;

            #items .menuItem .menuItemsText,
            #footer #button p {
                opacity: 1;
            }
        }

        &:hover {
            width: 250px;

            #items .menuItem .menuItemsText,
            #footer #button p {
                opacity: 1;
            }
        }
    }

    .outlet {
        width: 91%;
        min-width: 800px;
        display: flex;
        flex-direction: column;
    }
}

.errorContainer {
    margin-bottom: 20px;
}

.profileMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    //  align-items: center;
    width: 100%;

    .header {
        height: 40%;
        min-height: 200px;
        flex-shrink: 0;
        border-radius: 10px;
        //  position: "relative";
        display: flex;

        #reload {
            width: 30px;
            height: 30px;
            flex-shrink: 0;
            align-self: end;
            margin-left: auto;
            padding-right: 10px;
            padding-bottom: 10px;
        }
    }

    .avatar {
        display: flex;
        width: 220px;
        height: 220px;
        align-self: center;
        justify-content: end;
        flex-shrink: 0;
        border-radius: 50%;
        margin-top: -110px;
    }

    .uploadIcon {
        display: flex;
        width: 30px;
        height: 30px;
        padding: 6px 7px;
        align-items: center;
        justify-content: center;
        align-self: end;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 50%;
        border: 3px solid $primary-font-color;
        background: $primary-style-color;

        #logo {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
        }
    }

    .userInfoContainer {
        display: flex;
        //  width: 566px;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        align-self: center;
        // height: 100px;
        margin-top: 50px;
        padding-bottom: 50px;

        #name {
            display: flex;
            //  width: 260px;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            color: $default-color;
            font-size: $extra-large-font-size;
            font-style: normal;
            font-weight: $big-font-weight;
            line-height: normal;
        }

        #rating {
            display: flex;
            flex-direction: column;
            gap: 6px;

            #text {
                align-self: stretch;
                color: $dashboard-text-color;
                text-align: center;
                font-size: $medium-font-size;
                font-style: normal;
                font-weight: $medium-font-weight;
                line-height: normal;
            }
        }

        #infoContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 45px;
            align-self: stretch;

            #info {
                display: flex;
                // width: 388px;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .textContainer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-self: stretch;
                    font-size: $normal-font-size;
                    font-style: normal;
                    line-height: normal;
                    gap: 30px;

                    .name {
                        color: $dashboard-title-color;
                        font-weight: $medium-font-weight;
                    }

                    .value {
                        color: $default-color;
                        font-weight: $normal-font-weight;
                    }
                }
            }

            // #buttons {
            //     display: flex;
            //     align-items: center;
            //     gap: 22px;
            //     align-self: stretch;

            //     .button {
            //         display: flex;
            //         width: 272px;
            //         height: 52px;
            //         padding: 14px 26px;
            //         align-items: center;
            //         justify-content: center;
            //         gap: 15px;
            //         border-radius: 5px;
            //         font-size: $normal-font-size;
            //         font-style: normal;
            //         font-weight: $normal-font-weight;
            //         line-height: normal;

            //         p {
            //             margin: 0;
            //             padding: 0;
            //         }
            //     }

            //     .colorButton {
            //         background: $header-menu-background;
            //         color: $primary-font-color;

            //         &:hover {
            //             background: $menu-border-color;
            //         }
            //     }

            //     .witeButton {
            //         border: 1px solid $menu-border-color;
            //         color: $default-color;

            //         &:hover {
            //             background: $header-menu-background;
            //         }
            //     }
            // }
        }
    }
}

.twoColumnsContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 30px;

    .textInputsContainer {
        display: flex;
        flex-direction: column;
        width: 45%;
        gap: 30px;

        .title {
            color: $default-color;
            font-size: $extra-large-font-size;
            font-style: normal;
            font-weight: $normal-font-weight;
            line-height: normal;
        }

        .formContainer {
            display: flex;
            gap: 20px;
            flex-direction: column;

            .fieldContainer {
                display: flex;
                gap: 5px;
                flex-direction: column;
                justify-self: stretch;

                .filedTitle {
                    align-self: stretch;
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                .field {
                    display: flex;
                    height: 6vh;
                    min-height: 50px;
                    align-items: center;
                    gap: 10px;
                    flex-shrink: 0;
                    align-self: stretch;
                    border-radius: 5px;
                    border: 1px solid #c4c4c4;
                    background: $primary-font-color;
                    color: $secondary-font-color;
                    font-size: $medium-font-size;
                    font-style: normal;
                    font-weight: 200;
                    line-height: normal;
                    padding-left: 15px;
                }

                .instructionText {
                    color: #000;
                }
            }
        }
    }

    .errorContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .addImagesContainer {
        display: flex;
        gap: 50px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 45%;
    }
}

.dashboardError {
    color: $error-border-color;
}

.button {
    display: flex;
    width: 262px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #00c2c1;
    color: var(--Backgrounds-Primary, #fff);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;

    &:hover {
        border: 1px solid $register-button-border-color;
    }
}

.mainImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imageUploadButton {
    display: flex;
    width: 262px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #019392;
    color: var(--Backgrounds-Primary, #fff);
    border: none;

    &:hover {
        border: 1px solid $register-button-border-color;
    }
}

.blockImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.blockImagesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    .imagesContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        gap: 10px;
        align-self: stretch;
        flex-wrap: wrap;

        background: #efefef;

        .image {
            width: 230px;
            height: 230px;
            align-self: center;
            justify-self: center;
            margin: 0 auto;
        }
    }

    .buttonContainer {
        display: flex;
        width: 266px;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }
}
