@import "../variables.scss";

.dashboardMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.dashboardHeaderContainer {
    background: $primary-style-color;
    width: 100%;
    height: 8%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;

    #headerMainPart {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #logo {
            width: 226px;
            min-height: 80px;
            flex-shrink: 0;
        }

        #userInfo {
            display: flex;
            align-items: center;
            gap: 11px;

            #avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                align-self: stretch;
            }

            #name {
                color: #fff;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}

.breadcrumbs {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
    font-size: $medium-font-size;
    font-style: normal;
    line-height: normal;
    height: 5%;
    min-height: 30px;
    gap: 5px;

    a {
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: #5d5d5d;
        font-weight: $medium-font-weight;
    }

    p {
        margin: 0;
        padding: 0;
        color: #000;
        font-weight: $normal-font-weight;
    }
}

.mainContainer {
    display: flex;
    width: 80%;
    gap: 20px;
    height: 100%;

    .sideMenu {
        width: 18%;
        min-width: 250px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 1px solid $menu-border-color;
        background: $menu-background;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;

        #items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .menuItem {
                height: 72px;
                flex-shrink: 0;
                border-radius: 9px 9px 9px 9px;
                display: flex;
                align-items: center;

                .text {
                    display: flex;
                    width: 233px;
                    align-items: flex-start;
                    gap: 15px;
                    margin-left: 24px;

                    p {
                        margin: 0;
                        padding: 0;

                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        align-self: flex-end;
                    }
                }

                &.active,
                &:hover {
                    background-color: $header-menu-background;
                    color: $primary-font-color;
                }
            }
        }

        #footer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 60px;

            margin: 0;
            padding: 0;

            #line {
                height: 1px;
                background-color: $menu-border-color;
            }
            #button {
                align-items: flex-start;
                gap: 20px;
                flex-shrink: 0;
                color: $default-color;
                display: flex;
                align-content: baseline;
                margin-left: 20px;

                p {
                    margin: 0;
                    padding: 0;
                    align-self: center;
                }
            }

            &:hover {
                font-weight: 900;
            }
        }
    }

    .outlet {
        width: 91%;
        min-width: 800px;
        display: flex;
    }
}

.profileMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    //  align-items: center;
    width: 100%;

    .header {
        height: 30%;
        min-height: 150px;
        flex-shrink: 0;
        border-radius: 10px;
        position: "relative";
    }

    .avatar {
        display: flex;
        width: 220px;
        height: 220px;
        align-self: center;
        justify-content: end;
        flex-shrink: 0;
        border-radius: 50%;
        margin-top: -110px;
    }

    .uploadIcon {
        display: flex;
        width: 30px;
        height: 30px;
        padding: 6px 7px;
        align-items: center;
        justify-content: center;
        align-self: end;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 50%;
        border: 3px solid $primary-font-color;
        background: $primary-style-color;

        #logo {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
        }
    }

    .userInfoContainer {
        display: flex;
        //  width: 566px;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        align-self: center;
        // height: 100px;
        margin-top: 50px;
        padding-bottom: 50px;

        #name {
            display: flex;
            //  width: 260px;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            color: $default-color;
            font-size: $extra-large-font-size;
            font-style: normal;
            font-weight: $big-font-weight;
            line-height: normal;
        }

        #rating {
            display: flex;
            flex-direction: column;
            gap: 6px;

            #text {
                align-self: stretch;
                color: $dashboard-text-color;
                text-align: center;
                font-size: $medium-font-size;
                font-style: normal;
                font-weight: $medium-font-weight;
                line-height: normal;
            }
        }

        #infoContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 45px;
            align-self: stretch;

            #info {
                display: flex;
                // width: 388px;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .textContainer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-self: stretch;
                    font-size: $normal-font-size;
                    font-style: normal;
                    line-height: normal;
                    gap: 30px;

                    .name {
                        color: $dashboard-title-color;
                        font-weight: $medium-font-weight;
                    }

                    .value {
                        color: $default-color;
                        font-weight: $normal-font-weight;
                    }
                }
            }

            #buttons {
                display: flex;
                align-items: center;
                gap: 22px;
                align-self: stretch;

                .button {
                    display: flex;
                    width: 272px;
                    height: 52px;
                    padding: 14px 26px;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    border-radius: 5px;
                    font-size: $normal-font-size;
                    font-style: normal;
                    font-weight: $normal-font-weight;
                    line-height: normal;

                    p {
                        margin: 0;
                        padding: 0;
                    }
                }

                .colorButton {
                    background: $header-menu-background;
                    color: $primary-font-color;

                    &:hover {
                        background: $menu-border-color;
                    }
                }

                .witeButton {
                    border: 1px solid $menu-border-color;
                    color: $default-color;

                    &:hover {
                        background: $header-menu-background;
                    }
                }
            }
        }
    }
}

.subMenu {
    padding-left: 20px;
}

.subMenuItem {
    padding: 10px;
    cursor: pointer;
}

.subMenuItem.active {
    background-color: #f0f0f0;
}
